.App {
  text-align: center;
}

.loading-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-header {
  font-size: 3rem;
}

.loading-fact {
  font-size: 2rem;
}

.loading-p {
  font-size: 0.9rem;
}

@media (max-width: 850px) {
  .loading-header {
      font-size: 2.2rem;
    }
  
    .loading-fact {
      font-size: 1.5rem;
    }
  
    .loading-p {
      font-size: 0.7rem;
    }
}

@media (max-width: 475px) {
  .loading-header {
    font-size: 1.6rem;
  }

  .loading-fact {
    font-size: 1.1rem;
  }

  .loading-p {
    font-size: 0.5rem;
  }
}
