@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #C1D0B5;
}

/* Main-Block-1 shenanigans */

.main-block-1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', bold;
}

.main-title {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0 0 200px 0;
    position: absolute;
}

.Typewriter, .main-text {
    position: relative;
    margin-bottom: 120px;
    font-size: 0.9rem;
    font-weight: normal;
}

.main-buttons {
    position: absolute;
    display: inline;
}

#btn-1, #btn-2, #btn-3 {
    background-color: white;
    color: black;
    font-family: 'Inter';
    font-size: 1rem;
    border-style: solid solid none solid;
    border-color: black;
    border-width: 1.8px;
    transition: 0.6s;
}

#btn-1 {
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
}

#btn-1:hover {
    background-color: #FFB4B4;
    transform: scale(1.1) translateY(-0.3rem);
    box-shadow: 4px 6px 0px #E06469, -4px -6px 0px #E06469;
    transition: 0.5s;
}

#btn-1:focus {
    transform: scale(1) translateY(-0.2rem);
    transition: 0.3s;
}

#btn-2 {
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
}

#btn-2:hover {
    background-color: #FDF7C3;
    color: black;
    transform: scale(1.1) translateY(-0.3rem);
    box-shadow: 0px 0px 0px 0.5rem #FFDB58;
    transition: 0.5s;
}

#btn-2:focus {
    transform: scale(1) translateY(-0.2rem);
    transition: 0.3s;
}

#btn-3 {
    padding: 5px 20px 5px 20px;
}

#btn-3:hover {
    background-color: #C0DBEA;
    transform: scale(1.1) translateY(-0.3rem);
    box-shadow: 4px 6px 0px #6096B4, -4px -6px 0px #6096B4;
    transition: 0.5s;
}

#btn-3:focus {
    transform: scale(1) translateY(-0.2rem);
    transition: 0.3s;
}

.main-projects {
    position: absolute;
    margin-top: 300px;
    font-size: 1.3rem;
    font-weight: 600;
}


#projects-btn {
    border: none;
    border-radius: 50%;
    background-color: #C1D0B5;
    transition: 0.5s;
}

#projects-btn:hover {
    transform: scale(1.1) translateY(0.5rem);
    transition: 0.5s;
}

.projectsBtnDiv {
    position: absolute;
    margin: 450px auto 0 auto;
}
/* Main-Block-2 shenanigans */

.main-block-2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotted-line {
    width: 10%;
    margin-bottom: 650px;
    border-style: dotted none none;
    border-width: 15px;
    border-color: black;

}

#btn2-1, #btn2-2, #btn2-3, #btn2-4, #btn2-5 {
    position: absolute;
    background-color: white;
    color: black;
    font-family: 'Inter';
    font-size: 1rem;
    border-style: none none none none;
    border-radius: 10px;
    border-width: 2px;
    transition: 0.3s;
    box-shadow: 4px 6px 0px black;
    width: 250px;
    padding: 10px 0 10px 0;
}

#btn2-1:hover, #btn2-2:hover, #btn2-3:hover, #btn2-4:hover, #btn2-5:hover {
    background-color: black;
    color: white;
}

#btn2-1:hover {
    box-shadow: -12px -10px 0px #FD8A8A, 8px 6px 0px #656565;
}

#btn2-2:hover {
    box-shadow: -12px -10px 0px #F97B22, 8px 6px 0px #656565;
}

#btn2-3:hover {
    box-shadow: -12px -10px 0px #FFDB58, 8px 6px 0px #656565;
}

#btn2-4:hover {
    box-shadow: -12px -10px 0px #68A7AD, 8px 6px 0px #656565;
}

#btn2-5:hover {
    box-shadow: -12px -10px 0px #9384D1, 8px 6px 0px #656565;
}

#btn2-1 {
    margin-bottom: 400px;
}

#btn2-2 {
    margin-bottom: 250px;
}

#btn2-3 {
    margin-bottom: 100px;
}

#btn2-4 {
    margin-top: 50px;
}

#btn2-5 {
    margin-top: 200px;
}

.main-resume {
    position: absolute;
    margin-top: 400px;
    font-size: 1.3rem;
    font-weight: 700;
}

.resumeBtnDiv {
    position: absolute;
    margin-top: 550px;
}

#resume-btn {
    border: none;
    border-radius: 50%;
    background-color: #C1D0B5;
    transition: 0.5s;
}

#resume-btn:hover {
    transform: scale(1.1) translateY(0.5rem);
    transition: 0.5s;
}

/* Main-block-3 shenanigans */

.main-block-3 {
    min-height: 180vh;
    display: flex;
    font-family: 'Inter', bold;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;

}

.resume-about, .resume-edu, .resume-exp, .resume-skill {
    margin-top: 5vh;
    width: 90%;
    min-height: 15vh;
    background-color: white;
    padding: 0 10px 5px 10px;
    border-radius: 18px;
}

.resume-edu {
    margin-top: 3vh;
    min-height: 24vh;
}

.resume-exp {
    margin-top: 3vh;
    min-height: 30vh;
}

.resume-skill {
    margin-top: 3vh;
    min-height: 20vh;
}

.resume-title-about, .resume-title-edu, .resume-title-exp, .resume-title-skill{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.resume-desc-about, .resume-desc-edu {
    font-size: 0.85rem;
    text-align: center;
}

.resume-desc-emp-about {
    font-size: 0.95rem;
    font-weight: bold;
    background: linear-gradient(90deg, #a963fc 0%, #6936a6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume-subhead1-edu, .resume-subhead2-edu, .resume-subhead1-exp, .resume-subhead2-exp {
    font-size: 1.05rem;
    font-weight: bold;
    text-align: left;
}

.resume-desc-edu, .resume-desc1-exp, .resume-desc2-exp {
    font-size: 0.85rem;
    text-align: left;
}

.resume-desc-honors-edu {
    font-weight: 600;
    display: block;
}

.resume-subhead-skill {
    font-size: 1.00rem;
    display: inline;
}

.resume-desc-skill {
    display: inline;
    font-size: 0.9rem;
    padding-left: 10px;
}

.PhoneIcon, .EmailIcon, .contact-desc {
    display: inline;
}

.contact {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-title {
    margin-top: 8vh;
    font-size: 1.3rem;
}

.contact-subhead {
    flex-grow: 1;
    margin-top: 30px;
    text-align: center;
}

.contact-desc1, .contact-desc2 {
    margin-left: 1vw;
    font-size: 0.95rem;
}

.iconDiv {
    display: inline;
    margin-top: 100px;
}