@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    background-color: #C1D0B5;
}

body {
    margin: 0;
}

/* Main-Block-1 shenanigans */

.main-block-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', bold;
}

.main-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 235px;
    position: absolute;
}

.Typewriter, .main-text {
    position: relative;
    margin-bottom: 120px;
    font-size: 0.9rem;
    font-weight: normal;
}

.main-buttons {
    position: absolute;
    display: inline;
}

#btn-1, #btn-2, #btn-3 {
    background-color: white;
    color: black;
    font-family: 'Inter';
    font-size: 1rem;
    border-style: solid solid none solid;
    border-color: black;
    border-width: 1.8px;
    transition: 0.6s;
}

#btn-1 {
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
}

#btn-1:hover {
    background-color: #FFB4B4;
    transform: scale(1.1) translateY(-0.3rem);
    box-shadow: 4px 6px 0px #E06469, -4px -6px 0px #E06469;
    transition: 0.5s;
}

#btn-1:focus {
    transform: scale(1) translateY(-0.2rem);
    transition: 0.3s;
}

#btn-2 {
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
}

#btn-2:hover {
    background-color: #FDF7C3;
    color: black;
    transform: scale(1.1) translateY(-0.3rem);
    box-shadow: 0px 0px 0px 0.5rem #FFDB58;
    transition: 0.5s;
}

#btn-2:focus {
    transform: scale(1) translateY(-0.2rem);
    transition: 0.3s;
}

#btn-3 {
    padding: 5px 20px 5px 20px;
}

#btn-3:hover {
    background-color: #C0DBEA;
    transform: scale(1.1) translateY(-0.3rem);
    box-shadow: 4px 6px 0px #6096B4, -4px -6px 0px #6096B4;
    transition: 0.5s;
}

#btn-3:focus {
    transform: scale(1) translateY(-0.2rem);
    transition: 0.3s;
}

.main-abstract {
    position: absolute;
    margin-top: 300px;
    font-size: 1.3rem;
    font-weight: 600;
}


#abstract-btn {
    border: none;
    border-radius: 50%;
    background-color: #C1D0B5;
    transition: 0.5s;
}

#abstract-btn:hover {
    transform: scale(1.1) translateY(0.5rem);
    transition: 0.5s;
}

.abstractBtnDiv {
    position: absolute;
    margin: 450px auto 0 auto;
}

/* Main-Block-2 shenanigans */

.dotted-line {
    width: 10%;
    margin-bottom: 650px;
    border-style: dotted none none;
    border-width: 15px;
    border-color: black;

}

#btn2-1, #btn2-2, #btn2-3, #btn2-4, #btn2-5 {
    position: absolute;
    background-color: white;
    color: black;
    font-family: 'Inter';
    font-size: 1rem;
    border-style: none none none none;
    border-radius: 10px;
    border-width: 2px;
    transition: 0.3s;
    box-shadow: 4px 6px 0px black;
    width: 250px;
    padding: 10px 0 10px 0;
    z-index: 2;
}

#btn2-1:hover, #btn2-2:hover, #btn2-3:hover, #btn2-4:hover, #btn2-5:hover {
    background-color: black;
    color: white;
}

#btn2-1:hover {
    box-shadow: -12px -10px 0px #FD8A8A, 8px 6px 0px #656565;
}

#btn2-2:hover {
    box-shadow: -12px -10px 0px #F97B22, 8px 6px 0px #656565;
}

#btn2-3:hover {
    box-shadow: -12px -10px 0px #FFDB58, 8px 6px 0px #656565;
}

#btn2-4:hover {
    box-shadow: -12px -10px 0px #68A7AD, 8px 6px 0px #656565;
}

#btn2-5:hover {
    box-shadow: -12px -10px 0px #9384D1, 8px 6px 0px #656565;
}

#btn2-1 {
    margin-bottom: 400px;
}

#btn2-2 {
    margin-bottom: 250px;
}

#btn2-3 {
    margin-bottom: 100px;
}

#btn2-4 {
    margin-top: 50px;
}

#btn2-5 {
    margin-top: 200px;
}

.main-projects {
    position: absolute;
    margin-top: 450px;
    font-size: 1.3rem;
    font-weight: 700;
}

.projectBtnDiv {
    position: absolute;
    margin-top: 600px;
}

#project-btn {
    border: none;
    border-radius: 50%;
    background-color: #C1D0B5;
    transition: 0.5s;
}

#project-btn:hover {
    transform: scale(1.1) translateY(0.5rem);
    transition: 0.5s;
}

.arrowLogo, .arrowLogo2 {
    color: black;
}

@media (max-width: 2000px) {
    .main-block-2 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-header {
        position: absolute;
        font-size: 2.5rem;
        margin: 100px 0 700px 0;
        text-shadow: 3px 3px 0 #B0926A;
    }
    .abstract {
        margin-bottom: 100px;
        max-width: 85%;
    }
    .abstract-text {
        margin-top: 30px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .emp-text-1 {
        margin-left: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        background: linear-gradient(90deg, #a963fc 0%, #6936a6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .emp-text-2 {
        margin-left: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        background: linear-gradient(90deg, #ad1313 0%, #580000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .emp-text-3 {
        margin-left: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        background: linear-gradient(135deg, #000000 0%, #787878 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 1000px) {
    .main-block-3 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-header {
        position: absolute;
        font-size: 2rem;
        margin: 100px 0 700px 0;
        text-shadow: 3px 3px 0 #B0926A;
    }
    .abstract-text {
        margin-top: 30px;
        font-size: 1.05rem;
        font-weight: 500;
    }
}

@media (max-width: 600px) {
    .main-block-2 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-block-3 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-header {
        position: absolute;
        font-size: 1.8rem;
        margin-bottom: 650px;
        text-shadow: 3px 3px 0 #B0926A;
    }
    .abstract {
        margin-bottom: 200px;
        max-width: 90%;
    }

    .abstract-text {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
    }

    .emp-text-1 {
        margin-left: 5px;
        font-size: 1.25rem;
        font-weight: bold;
        background: linear-gradient(90deg, #a963fc 0%, #6936a6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .emp-text-2 {
        margin-left: 5px;
        font-size: 1.25rem;
        font-weight: bold;
        background: linear-gradient(90deg, #ad1313 0%, #580000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .emp-text-3 {
        margin-left: 5px;
        font-size: 1.25rem;
        font-weight: bold;
        background: linear-gradient(135deg, #000000 0%, #787878 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 400px) {
    .main-block-2 {
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-block-3 {
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-header {
        position: absolute;
        font-size: 1.6rem;
        margin-bottom: 450px;
        text-shadow: 3px 3px 0 #B0926A;
        display: none;
    }
    .abstract {
        margin-bottom: 300px;
        max-width: 90%;
    }

    .abstract-text {
        margin-top: 16px;
        font-size: 0.95rem;
        font-weight: 500;
    }

    .emp-text-1 {
        margin-left: 5px;
        font-size: 1.05rem;
        font-weight: bold;
        background: linear-gradient(90deg, #a963fc 0%, #6936a6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .emp-text-2 {
        margin-left: 5px;
        font-size: 1.05rem;
        font-weight: bold;
        background: linear-gradient(90deg, #ad1313 0%, #580000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .emp-text-3 {
        margin-left: 5px;
        font-size: 1.05rem;
        font-weight: bold;
        background: linear-gradient(135deg, #000000 0%, #787878 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* Simple main-block-3 class for projects section to counteract media query vh. */

.main-block-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bottom navbar for email contact */

.contact {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 350px;
    margin-left: 98%;
    text-align: right;
    flex-shrink: 0;
    z-index: 1;
    padding-right: min(5%, 30px);
}

.contact-section {
    background-color: #C1D0B5;
    border: none;
    transition: 0.5s;
}
.contact-section:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

.contact-text {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1rem;
    color: #005402;
}

.email-icon {
    display: inline-block;
    color: #005402;
    padding: 0 0 0 5px;
    margin-bottom: -5px;
}

.prefooter {
    position: absolute;
    font-size: 1.2rem;
    margin-top: 400px;
}

.prefooter a {
    color: brown;
}

.footer {
    position: absolute;
    margin: 600px 0 50px 0;
    padding: 2px 5px 2px;
    font-size: 0.65rem;
    z-index: 999;
    color: #9e5472;
    background-color: #ffef8c;
}

/* Disregarded third main block.

.resume-subhead1-edu, .resume-subhead2-edu, .resume-subhead1-exp, .resume-subhead2-exp {
    font-size: 1.05rem;
    font-weight: bold;
    text-align: left;
}

.resume-desc-edu, .resume-desc1-exp, .resume-desc2-exp {
    font-size: 0.85rem;
    text-align: left;
}

.resume-desc-honors-edu {
    font-weight: 600;
    display: block;
}

.resume-subhead-skill {
    font-size: 1.00rem;
    display: inline;
}

.resume-desc-skill {
    display: inline;
    font-size: 0.9rem;
    padding-left: 10px;
}

.PhoneIcon, .EmailIcon, .contact-desc {
    display: inline;
}

.icon-email {
    color: black;
}

.contact {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-title {
    margin-top: 8vh;
    font-size: 1.3rem;
}

.contact-subhead {
    flex-grow: 1;
    margin: 10px 0 30px 0;
    text-align: center;
}

.contact-desc1, .contact-desc2 {
    margin-left: 1vw;
    font-size: 0.95rem;
}

.iconDiv {
    display: inline;
    margin-top: 100px;
}

#email-btn {
    border: none;
    background-color: #C1D0B5;
    transition: 0.5s;
}

#email-btn:hover {
    opacity: 0.6;
}
*/